/* Mega Desktop */
@media (max-width:4000px) {

	}

/* Large Desktop */
@media (max-width:1850px) {
.slider .slide .overlay {padding: 100px 0 100px 10%;}

}

/* Average Desktop/Laptop */
@media (max-width:1400px) {
.slider .slide .overlay {padding: 100px 0 100px 5%;}
	}


/* Small desktop/laptop  */

@media (max-width:1150px) {
.slider .slide .overlay h2 {font-size: 36px;}
header nav ul li {padding: 10px 8px;}
}

/*Tablet */
@media (max-width:980px) {

}


/* MOBILE */

@media (max-width:480px) {


}